body{
    font-family: 'Roboto', sans-serif;
    padding: 0%;
    margin: 0%;
}

nav{
    background-color: rgb(143, 163, 184);
    color: rgb(74, 8, 8);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: beige;
    padding: 10px 20px;
    border-radius: 3px;
}

.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color: midnightblue;
}

.LimitedOffer{
    font-size: 20px;
    border-bottom: none;
    cursor: pointer;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin-right: 55px;
    cursor: pointer;
    color: rgb(40, 58, 90);font-weight: 400;

}

.slider{
    background: url(/img/Shopping.jpg);
}

.sliderWrapper{
    display: flex;
    width: 700vw;
    transition: all 1s ease-in-out;
}

.sliderItem{
    width: 700vw;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
}

.sliderBg{
    width: 400px;
    height: 400px;
    border-radius: 60%;
    position: absolute;
}

.sliderImg{
    z-index: 0;
}

.sliderTitle{
    position: absolute;
    top: 0%;
    right: 30%;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: rgb(71, 61, 128);
    background-color: azure;
    border-radius: 1px;
}

.sliderPrice{
    position: absolute;
    top: 20%;
    right: 50%;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    color: rgb(123, 93, 114);
    box-shadow: 10px;
}

.buyButton{
    position: absolute;
    bottom: 50%;
    right: 30%;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color:rgb(170, 154, 200);
    border: 2px solid goldenrod;
    background-color: darkcyan;
    z-index: 1;
    cursor: pointer;
}

.buyButton:hover{
    background-color: rgb(170, 154, 200);
    color: darkcyan;
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featureImg{
    width: 50px;
    height: 50px

}

.featureTitle{
    font-size: 20px;
    font-weight: 50px;
    margin: 20px;
}

.featureDesc{
    color: blue;
    width: 50%;
    height: 100px;
}

.product{
    height: 100vh;
    background-color: antiquewhite;
    position: relative;
    clip-path: polygon(0 0, 48% 0, 100% 0, 100% 81%, 100% 100%, 0 100%, 0% 50%);
}    

.productImg{
    width: 50%;
}

.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;  
}

.productDesc{
    font-style: italic;
    font-size: 24px;
    color: rgb(21, 80, 67);
}

.colors,.sizes{
    display: flex;
    margin-bottom: 20px;
}

.color{
    width: 32px;
    height: 40px;
    border-radius: 5px;
    background-color:green;
    margin-right: 10px;
    cursor: pointer;
}

.color:last-child{
    background-color: brown;
}

.size{
    padding: 5px 20px;
    border-radius: 2px;
    border-color: black;
    margin-right: 10 px;
    font-size: 20px;
    cursor: pointer;
}

.productButton{
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: bisque;
}

.productButton:hover{
    background-color:  bisque ;
    color: black;
}

.payment {
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  }
  
  .payTitle {
    font-size: 20px;
    color: lightgray;
  }
  
  label {
    font-size: 14px;
    font-weight: 300;
  }
  
  .payInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .payInput::placeholder {
    color: rgb(163, 163, 163);
  }
  
  .cardIcons {
    display: flex;
  }
  
  .cardIcon {
    margin-right: 10px;
  }
  
  .cardInfo {
    display: flex;
    justify-content: space-between;
  }
  
  .sm {
    width: 30%;
  }
  
  .payButton {
    position: absolute;
    height: 40px;
    bottom: -40;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    background-color: #369e62;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .close {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: gray;
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 2px;
  }
  
  .productImg {
    width: 50%;
  }
  
  .productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
  }
  
  .productTitle {
    font-size: 75px;
    font-weight: 900;
  }
  
  .productDesc {
    font-style: 24px;
    color: gray;
  }
  
  .colors,
  .sizes {
    display: flex;
    margin-bottom: 20px;
  }
  
  .color {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .color:last-child {
    background-color: darkblue;
  }
  
  .size {
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .productButton {
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  
  .productButton:hover {
    background-color: white;
    color: black;
  }

  footer{
    flex-direction: column;
    align-items: center;
  }

  .footerLeft{
    padding: 20px;
    width: 90%;
  }

  .footerRight{
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: whitesmoke;
  }

  .payment{
    width: 90%;
    padding: 20px;
  }

